/*■■■■■■■■■■■■■■■■■■■■■■ Imports */
/*■■■■■■■■■■■■■■■■■■■■■■ Reset */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: ubuntu, sans-serif;
}
body {
   background: #222;
   color: #fff;
}
ul {
   list-style: none;
}
a {
   text-decoration: none;
   color: #fff;
}

/*■■■■■■■■■■■■■■■■■■■■■■ Blocks */
main {
   max-width: 1000px;
   margin: 0 auto;
}

/*■■■■■■■■■■■■■■■■■■■■■■  */
/*■■■■■■■■■■■■■■■■■■■■■■  */
